
p{
    color: white;
}

h1,h2,h3{    
    font-family: "Kenia", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-shadow: 4px 5px 2px #FC8A5D;
    font-variant: small-caps; 
    background-color: rgba(107, 75, 0, 0.823);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(112, 93, 93);
    border-radius: 15px;
    padding: 8px;
    margin: 8px;
}

a{
    color: #FC8A5D;
    ;
    text-decoration: none;
}

a:hover{
    color: #f39d7b;
    ;
    text-decoration: underline;
}

.impressum{
    border-radius: 16px;
    border: 2px solid rgb(227, 227, 227);
    margin-top: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-break: auto;
    max-width: 780px;
    background-image: url(img/icons/brown_cracked_wood_texture_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: #FC8A5D; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 16px; 
}