
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/10_background/desert.jpg');
    background-position: center;
      
}
h1{
    color: #DEE9EB;
}
.kenia-regular {
    font-family: "Kenia", sans-serif;
    font-size: 64px;
    font-weight: 400;
    font-style: normal;
    text-shadow: 4px 5px 2px #FC8A5D;
  }
  

#frame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 640px;
    background-image: url(img/icons/brown_cracked_wood_texture_background.jpg);
    background-color: rgba(0, 0, 0, 0.138);
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

canvas{
    background-color: black;
}
canvas:hover{
    cursor: pointer;
}
.control-button-container{
    display: flex;
    border-radius: 15px 15px 15px 15px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 120px;
    width: 800px;
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.139);
    text-shadow: 4px 4px rgba(0, 0, 0, 0.515);

    img{
        filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(48deg) brightness(106%) contrast(104%);
        width: 48px;
        height: 48px;
        border-radius: 8px;
    }
    :nth-child(4){
    img{
        width: 100px;
    } 
}
}

.single-key{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Kenia", sans-serif;
    font-size: 24px;
    color: white;
}

.key-pressed{
    img{
        filter: invert(83%) sepia(53%) saturate(2438%) hue-rotate(347deg) brightness(111%) contrast(107%);
    }
}

footer{
    color: white;
    margin-top: 32px;
    a{
        text-decoration: none;
        color: #FC8A5D;        
    }
    a:hover{
        color: #fda785;
    }
}

#speaker{   
    width: 40px;
    height: 40px;
    margin-left: 96px;
    cursor: pointer;
}

#speaker:hover{
    filter: invert(83%) sepia(53%) saturate(2438%) hue-rotate(347deg) brightness(111%) contrast(107%);
}

.infoToast{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    width: 300px;
    font-family: "Kenia", sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.566);
}

.hovered-canvas{
    animation: changeBorder 250ms  ease-in-out;
    animation-fill-mode: forwards;

}

.arrow-down{
        height: 40px;
        width: 40px;
        filter: invert(100%) sepia(4%) saturate(7443%) hue-rotate(185deg) brightness(108%) contrast(112%);
        animation: animateArrow 2000ms infinite;
        padding: 0 16px; 
}

@keyframes changeBorder {
    0%{
        border: 2px solid white;
    }
    100%{
        border: 2px solid rgb(255, 224, 23);
    }
}

@keyframes animateArrow {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1.0;
    }
}