
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/10_background/desert.jpg');
    background-position: center;
      
}
.kenia-regular {
    font-family: "Kenia", sans-serif;
    font-size: 64px;
    font-weight: 400;
    font-style: normal;
    text-shadow: 4px 5px 2px #FC8A5D;
  }
  

#frame{
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: black;
}
canvas:hover{
    cursor: pointer;
}
.control-button-container{
    display: flex;
    background-image: url(img/icons/brown_cracked_wood_texture_background.jpg);
    background-size: cover;
    border-radius: 0 0 15px 15px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 80px;
    width: 720px;
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.139);

    img{
        filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(48deg) brightness(106%) contrast(104%);
        width: 48px;
        height: 48px;
        border-radius: 8px;
    }
    :nth-child(4){
    img{
        width: 100px;
    } 
}

}

.key-pressed{
    img{
        filter: invert(83%) sepia(53%) saturate(2438%) hue-rotate(347deg) brightness(111%) contrast(107%);
    }
}

footer{
    color: white;
    margin-top: 32px;
    a{
        text-decoration: none;
        color: #FC8A5D;
    }
}

#speaker{
    position: relative;
    width: 40px;
}